
table{
    border: black;
}
td{
    border: solid 1px;
    text-align: center;
    background-color: rgb(241, 234, 224);
}
th{
    border: solid 2px;
    text-align: center;
    background-color: rgb(247, 220, 180);
}